:root {
    --font-regular: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", sans-serif;

	/* meaninig, if PT sans is not found use sans-serif to load */
}
.container {
	max-width: 1200px;
	padding: 3rem;
	min-height: 25vh;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: coral;

	/* logo a and nav a has same setting, so removed from there and put it here as global */
}
p {
	margin-bottom: 0.8rem;
	line-height: 2;
	/* no units required for line-height as its linked with the text */
}

h1,
h2,
h3 {
	margin-bottom: 1.5rem;
}

input,
textarea,
button {
	font-family: "PT Sans", sans-serif;
}
/* Header area starts from here*/
header {
	background-color: #333333;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 5rem;
	z-index: 300;
}

header #logo a {
	color: coral;
	font-size: 2rem;
}
/*Main navigation content starts here */
header nav ul {
	list-style-type: none;

	/* it is important to specify the path, sometimes nav ul could be in footer too */
}


header nav ul li {
	display: inline-block;
	/* you can use flex here too, but its simpler to use inline block */
}

header nav ul li a {
	display: block;
	/* you can use in line block too but since there aren,t much stuff in here block can be used BUT if you're using icons you can use inline block else they will mess up*/
	color: white;

	padding: 0.5rem 0;
	margin: 0 1rem;
	border-bottom: 3px double transparent;
}

header nav ul li a:hover,
.dropdown:hover,
.options-dropdown a:hover {
	background-color: coral;

	/* if you are using border-bottom: 2px dotted coral; you have to assign the same but transparent instead of color in na ul li a  so that it wont jump  */
}
/* Main section starts here */
main {
	position: relative;
	top: 5rem;
}

/* Hero banner section starts from here */
main #hero-banner {
	/* if you have more contents in hero banner more text, it is good to use container instead. */
	background: url("https://source.unsplash.com/1600x900/?time") no-repeat fixed
		center center/cover;
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* since there is only one element we make flex in here */
}

main #hero-banner h1 {
	color: white;
	font-size: 5rem;
	text-align: center;
	font-family: "Ubuntu Mono";
}
main #hero-banner h1 span {
	color: coral;
}
main #hero-banner::before {
	position: absolute;
	content: "";
	height: inherit;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

/* Past section starts from here */

main #work {
	background-color: #f4f4ff;
}

main #work .work_boxes {
	display: flex;
	justify-content: space-between;
}

main #work .box {
	background-color: white;
	height: 30%;
	width: 30%;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 0 5px #333;
	/* box shadows needs to have at least 4 values */
}

main #work .box img {
	width: 100%;
	margin-bottom: 1rem;
}
main #work .box {
	box-shadow: 0 0 5px;
	/* box shadows needs to have at least 4 values */
}
main #work .box a:hover {
	text-decoration: underline;
	color: darkkhaki;

	/* if you want to make the box clickable, then you need to wrap the box around a */
}

/* present section starts from here */
main #experience {
	display: flex;
	background-color: white;
}

main #experience img {
	width: 50%;
	object-fit: cover;
	/* object-fit prevents the image from squeezing  since it is an object we have to use object fit or object position*/
	object-position: center;
}
main #experience .content {
	padding: 3rem;
}

/* Future section satrts from here */

main #skills {
	background: url("https://source.unsplash.com/1600x900/?future") no-repeat
		fixed center center/cover;
	padding: 3rem;
}
main #skills .container {
	background-color: rgba(255, 255, 255, 0.9);
}
#skills .container .skillbox {
	display: flex;
	justify-content: space-between;
}

#skills .container .skillbox .expertbox {
	position: relative;
	background-color: grey;
	width: 23%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 2px;
	box-shadow: 0 0 5px #333333;
}
.skillbox .expertbox img {
	width: 100%;
	margin-bottom: 1rem;
}

#skills .expertbox progress {
	border-radius: 2px;
	height: 1rem;
	margin: 0 auto;
	box-sizing: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
	background-color: white;
	border-radius: 2px;
}
progress::-webkit-progress-value {
	background-color: black;
	border-radius: 2px;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 0, 0, 0.8);
}
#skills .container .skillbox .expertbox a {
	display: flex;
	align-items: center;
}
#skills .container .skillbox .expertbox i {
	margin: 0 auto;
	padding: 1rem;
	color: #333333;
	text-shadow: 2px 4px 6px rgb(58, 55, 51);
}
#skills .container .skillbox:nth-child(odd) i {
	color: greenyellow;
}
#skills .container .skillbox .expertbox:nth-child(2n + 1) {
	background-color: rgba(0, 0, 0, 0.3);
}
#skills .container .skillbox .expertbox:last-child {
	background-color: rgba(0, 0, 0, 0.2);
}
#skills .container .skillbox .expertbox:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.4);
}

/* main #skills img {
	width: 300px;
	float: left;
	margin-right: 2rem;
} */

/*Footer section starts here */

footer {
	color: white;
	background-color: #333333;
	text-align: center;
	padding: 1.5rem;
	position: relative;
	top: 5rem;
}

footer p {
	font-size: 0.8rem;
	margin-top: 3rem;
}

/* form section starts here */
footer form {
	width: 100%;
	margin: 0 auto;
}
footer form .form-group {
	margin: 2rem 0;
}

footer form .form-group label {
	display: inline-block;
	width: 200px;
	text-align: left;
}
footer form .form-group textarea {
	min-height: 100px;
}

form .form-group input,
form .form-group textarea {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: none;
	width: 30%;
	font-size: 1rem;
}

footer form button {
	background-color: coral;
	border-radius: 5px;
	border: none;
	padding: 1rem 2rem;
	color: white;
	font-size: inherit;
}

/* responsive design . We are at desktop first and we wanrt to go to mobile. so desktop >>Tablet>> and Mobile designed in thisorder. Element path has to be written exactly how it was written before. The best practice copy and paste*/

@media (max-width: 899px) {
	main #experience {
		display: block;
	}
	main #experience img {
		width: 100%;
	}
	#skills .container .skillbox .expertbox i {
		width: 100%;
		font-size: 3em;
	}
	#skills .container .skillbox .expertbox progress {
		width: 100%;
	}
	footer form {
		width: 80%;
		text-align: left;
	}
	footer form .form-group label {
		display: block;
		margin-bottom: 0.5rem;
	}
	form .form-group input,
	form .form-group textarea {
		width: 100%;
	}

	footer form button {
		width: 100%;
	}
}

@media (max-width: 576px) {
	header {
		display: block;
		text-align: center;
		padding: 0.4rem;
		height: auto;
	}
	header nav ul li a {
		padding: 0.4rem;
	}
	main #hero-banner h1 {
		font-size: 3rem;
		margin: 1rem;
	}
	main #work .work_boxes {
		flex-direction: column;
	}
	main #work .box {
		width: 100%;
		margin: 1rem 0;
	}
	main #skills img {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	main #work,
	main #skills {
		padding: 0;
	}

	.container,
	main #experience .content {
		padding: 1rem;
	}
	#skills .container .skillbox {
		flex-direction: column;
	}
	#skills .container .skillbox .expertbox {
		width: 100%;
		margin: 1rem 0;
	}
	#skills .container .skillbox .expertbox i {
		width: 100%;
		font-size: 3em;
		padding: 0.5rem;
		display: inline-flex;

		justify-content: space-evenly;
	}
	#skills .expertbox progress {
		height: 0.6rem;
	}
}
